# Ignore virtual environment
venv/
*.pyc
__pycache__/

# Ignore Django database migrations
*/migrations/*

# Ignore IDE project files
.vscode/
.idea/

# Ignore secret keys and environment variables
.env